* {
  padding: 0;
  margin: 0;
}
button,
a,
input,
button:focus,
a:focus,
input:focus {
  outline: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  outline: none;
}

input[type='text'],
input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  outline: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  color: #495057;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  line-height: 1.7rem;
  overflow-x: hidden;
}
